# Auto detect text files and perform LF normalization
* text=auto
# Visual Studio
.vs/
.vscode/
*.suo
*.sln.docstates

# Build results
bin/
obj/
*.csproj.user
*.csproj.FileListAbsolute.txt

# IDE
.idea/
*.swp
*.swo

# Dependencies
packages/
node_modules/

# Test results
TestResults/

# NuGet
*.nupkg
*.snupkg

# Other
.DS_Store
thumbs.db
appsettings.local.json
